html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    /* font-family: "Roboto_Regular", cursive; */
    font-weight: 500;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    margin-left: 0;
    padding-left: 0;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

.list {
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

/* --------------------------------header-------------------------- */

.header_container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

}

.header_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255 0.9);
    z-index: 3;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_wrap {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    flex: 0 0 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.address_wrap {
    display: flex;
    align-items: center;
}

.list_wrap {

    display: flex;
    align-items: center;
    z-index: 5;
    margin-left: 20px;

}

.foc {
    color: #00337a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1px;

}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.address_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_li {
    display: flex;
    justify-content: center;
    align-items: center;

}


.phone_icon {
    color: #00337a;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 16px;
    margin-right: 10px;

}


.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.phone_icon:before {
    content: "\f2a0";
    transform: rotate(-25deg);
    color: #d41117;
}

.mail_icon::before {
    content: "\f0e0";

}

/*------------------------ main --------------------*/
.section_img {
    margin-top: 60px;
    height: auto;
    width: 100%;
    min-height: 550px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8),
            rgba(235, 240, 240, 0.5)),
        url(../img/roadjpeg.jpg) 50% 70% no-repeat;
    margin-bottom: 50px;
}


.main_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    align-items: center;
    margin: 0 auto;
}

.title_mail {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 10px;
    color: #404040;
}

.form {
    width: 300px;
    height: auto;
    min-height: 310px;
    background-color: #00337a;
    border-radius: 5px;
    margin: 0 auto;
}

.img_h {
    width: 45%;
    min-width: 300px;
    overflow: hidden;
    padding: 20px;
}

.form_title {
    font-style: normal;
    color: #fff;
    font-size: 22px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 20px 0 22px 0;

}

.input {
    text-align: center;
}

.input_name {
    width: 85%;
    height: 20px;
    font-size: 16px;
    padding: 8px 5px;
    line-height: 0.5;
    border-radius: 2px;
    border: 1px solid #fff;
    margin-bottom: 20px;

}

.input_phone {
    width: 85%;
    height: 20px;
    font-size: 16px;
    padding: 8px 5px;
    line-height: 0.5;
    border-radius: 2px;
    border: 1px solid #fff;
    margin-bottom: 10px;

}

.checkbox {
    width: 90%;
    margin: 10px auto;
    line-height: 20px;
}

.checkbox_text {
    color: #fff;
}
.btn_form {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #d41117;
    letter-spacing: 0.03em;
    background-color: #d41117;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 12px 0;

}

/*----------------------------- services -----------------------------*/
.services_title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 40px 0;
    margin: 0;

}

.services_title span {
    color: #d41117;
}

.cont_list {
    max-width: 260px;
    width: 25%;
    display: block;
    overflow: hidden;
    height: auto;
    text-align: center;
    padding: 5px 20px;


}

.img_png {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_png img {
    width: auto;
    height: 120px;
    overflow: hidden;
}


.text_list {
    line-height: 20px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

.cont_services {
    display: flex;
    align-items: center;
}

.services_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    

}

.adress_avto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #1a4176;

}

.padding_avto {
    padding-bottom: 50px;
}

.adress_avto h1 {
    width: 40%;
    min-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    margin: auto 0;
    padding: 5px 20px;
}

/*--------------------------- menu --------------------------------*/

.menu_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.list_price {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.menu_cantri {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin: 0px;
}

.mani {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #d41117;
    margin: 0px;
}

.menu_title {
    display: block;
    padding: 0px 10px;
    width: auto;
    margin: 0px;
}

.price_btn {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    border: 1px solid #d41117;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 18px;
    letter-spacing: 0.02em;
    font-style: normal;
    height: auto;
    margin: 20px auto;
    padding: 12px 0px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    width: 130px;
    background-color: #d41117;

}




/*--------------------------- gallary ----------------------------*/

.gallary_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: unset;
    justify-content: space-between;
    padding-bottom: 50px;

}

.gallary_img {
    flex-basis: calc((100% - 10px) /3);
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    min-width: 200px;
    height: auto;
    max-width: 200px;
    overflow: hidden;
}

.gallary_img img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}


/*------------------------- contact -------------------------*/

.contact_service {
    display: flex;
    align-items: center;
    justify-content: space-around;

}


/* ----------------------------footer */

.footer {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: #1a4176;
}

.footer_title {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.footer_list {
    display: block;
    width: 40%;
    max-width: 400px;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}