html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    font-family: "Roboto_Regular", cursive;
    font-weight: 500;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

.list {
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

/* --------------------------------header-------------------------- */

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_wrap {
    display: flex;
    align-items: center;
}

.address_wrap {
    display: flex;
    align-items: center;
}

.list_wrap{
    display: flex;
    align-items: center;
}

.phone_icon:before {
    content: "\f2a0";
}

.mail_icon::before {
    content: "\f0e0";

}

/*------------------------ main --------------------*/
.main_wrap {
    display: flex;
    align-items: center;
    align-content: space-between;
}

/* .title_mail {
    font-size: ;
    font-weight: ;
    line-height: ;
} */

.form {
    width: 300px;
    height: auto;
    min-height: 310px;
    background-color: #00337a;
    border-radius: 5px;
    margin: 0 auto;
}

.img_h {
    width: 45%;
    min-width: 300px;
    overflow: hidden;
    padding: 20px;
}

.form_title {
    font-style: normal;
    color: #fff;
    font-size: 22px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;

}

.input_name{


}

.input_phone {

}

.btn_form {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #d41117;
    letter-spacing: 0.03em;
    background-color: #d41117;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 12px 0;

}

/*--------------------------- gallary ----------------------------*/

.gallary_wrap {
    display: flex;
    flex-wrap: wrap;
}