@media (max-width: 525px) {

    .container {
        max-width: 525px;
        margin: 0 auto;
        padding: 0 10px;
    }

    /* -----------------header------------------- */

    .header_wrap {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: auto;
    }

    .header_logo {
        display: block;
        max-width: 100%;
    }

    .address_list {
        display: none;
    }

    .nav_list {
        display: none;
    }

    .burger {
        display: block;
        fill: black;
    }


    /* ------------------------ main -------------------- */

    .section_img {
        width: 100%;
        margin-top: 35px;
    }

    .main_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .img_h {
        width: 85%;
    }

    /* ----------------------------section------------------------- */

    .title_mail {
        font-size: 16px;
    }


    /* -------------------services----------------------- */

    .cont_services {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .services_title {
        font-size: 36px;
    }

    .cont_list {
        width: 100%;
    }

    .services_list {
        display: block;
    }

    .none {
        display: none;
    }

    .img_png_mobile {
        margin: 0 auto;
    }

    /* ---------------------menu----------------------- */

    .list_price {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .menu_box {
        width: 100%;
    }

    /* ---------------------gallary------------------------ */


    .gallary_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .gallary_img {
        width: 100%;
    }

    /* ------------------footer------------------------------ */

    .footer_title {}

    .footer_flex {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .mobile_list {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .phone_icon {
        margin: 0;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .phone_icon:nth-child(4) {
        margin-bottom: 0;
    }

    .style_svg {
        width: 26px;
        height: 30px;
    }

    .footer_p {
        font-size: 12px;
        margin: 7% 5px;

    }



}

@media (max-width: 765px) {

    .container {
    max-width: 765px;
    margin: 0 auto;
    padding: 0 10px;
    }

    /* -----------------------header------------------------ */

    .address_list {
        display: block;
        padding: 0 15px;
        text-align: center;
        font-size: 20px;
        width: 440px;
        z-index: 5;
    }

    .nav_list {
        display: none;
    }

    /* ----------------------------burger------------------------ */

    .burger {
        display: block;
    }

}