@media  (max-width: 525px) {

    .container {
        max-width: 525px;
        margin: 0 auto;
        padding: 0 10px;
    }

    /* -----------------header------------------- */

    .address_list {
        display: none;
    }

    .nav_list {
        display: none;
    }

    .burger {
        display: block;
        fill: black;
    }
    

    /* ------------------------ main -------------------- */
    
    .section_img {
        width: 100%;
    }

    .main_wrap {
        display: flex;
        flex-wrap: wrap;

    }

    /* ----------------------------section------------------------- */
    
    .title_mail {
        font-size: 16px;
    }


    /* -------------------services----------------------- */

    .cont_services {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .services_title {
        font-size: 36px;
    }

    .none {
        display: none;
    }

    .img_png_mobile {
        margin: 0 auto;
    }

    /* ---------------------menu----------------------- */
    
    .list_price {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    /* ---------------------gallary------------------------ */
    

    .gallary_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    /* ------------------footer------------------------------ */
    
    .footer_title {

    }
    .footer_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .footer_list {
        display: ;
    }

    .style_svg {
        width: 26px;
        height: 30px;
    }

    .footer_p {
        font-size: 12px;
        margin: 7% 5px;

    }



}